﻿/* About Page images */
.about-img-header {
    background-image: url('../images/bg_1.jpg');
}

.about-body-image {
    background-image: url('../images/bg_2.jpg');
}
.about-video {
    height: 800px;
    background-image: url('../images/bg_1.jpg');
    background-size: cover;
    background-position: center center;
}
.about-testimony-1 {
    background-image: url('../images/person_1.jpg');
}
.about-testimony-2 {
    background-image: url('../images/person_2.jpg');
}
.about-testimony-3 {
    background-image: url('../images/person_3.jpg');
}
.about-insta-1 {
    background-image: url('../images/insta-1.jpg');
}
.about-insta-2 {
    background-image: url('../images/insta-2.jpg');
}
.about-insta-3 {
    background-image: url('../images/insta-3.jpg');
}
.about-insta-4 {
    background-image: url('../images/insta-4.jpg');
}
.about-insta-5 {
    background-image: url('../images/insta-5.jpg');
}

/* Main Blog Page Images */
.blog-img-1 {
    background-image: url('../images/image_1.jpg');
}
.blog-img-2 {
    background-image: url('../images/image_2.jpg');
}
.blog-img-3 {
    background-image: url('../images/image_3.jpg');
}
/* Blog Single Page Images */

/* Contact Page Images */
.contact-header-img {
    background-image: url('../images/bg_1.jpg');
}
/* Index Page Images */
.index-header-img-1 {
    background-image: url('../images/bg_1.jpg');
}
.index-header-img-2 {
    background-image: url('../images/bg_2.jpg');
}
.index-header-img-3 {
    background-image: url('../images/bg_3.jpg');
}
.index-rooms-img {
    background-image: url('../images/room-3.jpg');
}
.index-pool-img {
    background-image: url('../images/swimming-pool.jpg');
}
.index-restaurant-img {
    background-image: url('../images/resto.jpg');
}
.index-spec-rooms-img {
    background-image: url('../images/sleep.jpg');
}
/* Restaurant Page Images*/
.restaurant-pattern {
    background-image: url('../images/restaurant-pattern.jpg');
}
.menu-img-1 {
    background-image: url('../images/menu-1.jpg');
}
.menu-img-2 {
    background-image: url('../images/menu-2.jpg');
}
.menu-img-3 {
    background-image: url('../images/menu-3.jpg');
}
.menu-img-4 {
    background-image: url('../images/menu-4.jpg');
}
.menu-img-5 {
    background-image: url('../images/menu-5.jpg');
}
.menu-img-6 {
    background-image: url('../images/menu-6.jpg');
}
.menu-img-7 {
    background-image: url('../images/menu-7.jpg');
}
.menu-img-8 {
    background-image: url('../images/menu-8.jpg');
}
/* Rooms Main Page Images */
.rooms-header-img {
    background-image: url('../images/bg_1.jpg');
}
.rooms-card-1 {
    background-image: url('../images/room-1.jpg');
}
.rooms-card-2 {
    background-image: url('../images/room-2.jpg');
}
.rooms-card-3 {
    background-image: url('../images/room-3.jpg');
}
.rooms-card-4 {
    background-image: url('../images/room-4.jpg');
}
.rooms-card-5 {
    background-image: url('../images/room-5.jpg');
}
.rooms-card-6 {
    background-image: url('../images/room-6.jpg');
}

/* Single Room Page Images */
.room-header-img {
    background-image: url('../images/bg_1.jpg');
}
.room-img-1 {
    background-image: url('../images/room-1.jpg');
}
.room-img-2 {
    background-image: url('../images/room-2.jpg');
}
.room-img-3 {
    background-image: url('../images/room-3.jpg');
}
.room-img-4 {
    background-image: url('../images/room-4.jpg');
}
.room-img-5 {
    background-image: url('../images/room-5.jpg');
}
.room-img-6 {
    background-image: url('../images/room-6.jpg');
}

/* People cards images */
.person-card-1 {
    background-image: url('../images/person_1.jpg');
}
.person-card-2 {
    background-image: url('../images/person_2.jpg');
}
.person-card-3 {
    background-image: url('../images/person_3.jpg');
}
